chessmg/*.so
chessmg/*.o
chessmg/*/*.a
*.o

chessmg/*/*.so
chessmg/*/*.o
chessmg/*/*.a
*.so
*.o
*.a
chessmg/a.out


chessmg/libchessmg.cpp
chessmg.egg-info/
build/
dist/
Makefile_private
*/*.result
*.result
chessmg/libcmg/make.txt
.vscode/
*.egg-info/
examples/stats.txt
chessmg/libcmg/tests/exec_*

# Python cache
__pycache__/
*.pyc
*.pyo
